html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
--primery-title-color: #ffffff;
--secondary-title-color: #212121;
--primery-text-color: #757575;
--accent-color: #2196F3;
--header-text-color: #212121;
--header-contacts-color: #757575;
--bg-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: var(--primery-title-color);
    letter-spacing: 0.03em;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-left: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*------HEADER------ */

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.02em;  
    border: 1px solid #ECECEC; 
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}   

.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts {
    margin-left: auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc( 31 / 26 );
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    color: var(--header-text-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--header-text-color)
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color)
}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--header-contacts-color)
}

.hero {
    background: var(--bg-color);
}

/*------HERO------ */

.hero-container {
    width: 696px;
    height: 600px;
    align-items: center;
    text-align: center;
    padding: 200px 0 280px 0;
}

.hero-title {
    display: flex;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-title-color)
}

.hero-title-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    color: var(--primery-title-color)
    }

.btn {
    background-color: var(--accent-color);
}

.hero-title-btn:hover,
.hero-title-btn:focus {
    background: #0a68b6;
}

/* ----------ABOUT---------  */

.about-container {
    align-items: center;
    padding: 94px 15px 94px 15px;
}

.about-list{
    display: flex;
    min-width: 270px;
}

.about-list > .about-item {
    margin: 10px 30px 0 0;
}

.about-item-title{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--secondary-title-color)
}

.about-item-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-text-color)
}

.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
    color: var(--secondary-title-color)
}

/*---------- SERVICES------- */

.services{
    padding-top: 0px;
    padding-bottom: 94px;
}

.services-container {
    align-items: center;
    text-align: center;
}

.services-title-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.services-title-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
}
/* ----------TEAM---------  */

.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-container {
    align-items: center;
    text-align: center;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.team-item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
    color: var(--secondary-title-color)
}

.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--secondary-title-color)
}

.team-item-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 0px;
    color: var(--primery-text-color)
}

.team-item-card{
    background: var(--primery-title-color);
    padding: 30px 0px;
}

/* ----------FOOTER---------  */

.footer-container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer{
    background: var(--bg-color);
}

.footer-logo{
    color: var(--primery-title-color);
}

.contacts-address{
    font-style: inherit;
    margin-top: 20px;
}

.contacts-link{
    font-size: 14px;
    line-height: 1.71;
    margin: 0 0 9px;
    color: var(--primery-title-color);
}

.contacts-color{
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}

/* ----------PORTFOLIO---------  */

.portfolio-container{
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px; 
}

.portfolio-list{
    margin-bottom: 50px;
}

.portfolio-item{
    display: inline-block;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-left: 8px;
}

.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--secondary-title-color);
    background: #F5F4FA;
    border: none;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.active{
    background:var(--accent-color);
    color: var(--primery-title-color);
}

/* ----------CASES---------  */

.cases-list{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: -30px;
    margin-top: -30px;
}
.cases-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.cases-item-box{
    background-color: var(--primery-title-color);
    border-top: none;
    border: 1px solid #EEEEEE;
}

.cases-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin: 20px 24px 4px 24px;
    color: var(--secondary-title-color);
}

.cases-item-text{
    font-size: 16px;
    line-height: calc(30 / 16);
    margin: 0px 24px 20px 24px;
    color: var(--primery-text-color);
}